body{

     background: url("blueBG.jpg") no-repeat center center fixed; 

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover;

}

/*container*/

.container-case{

    position: absolute;

    width: 100%;

    padding: 30px;

    height: 100%;

}

tbody tr:nth-child(even) {
   background-color: #CCEEFD;
}

tbody tr:hover{
    background-color: #ddd;
}

th{
    background-color: #53AAF5;
    color: #fff;
}

.jobfile-cont{
    height: 635px;
}

.legends{
   /* position: absolute;*/
    /*top: 75%;*/
    /* left: 80%; */
    margin-right: 10px;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 10px 20px 0 rgba(0,0,0,0.19) !important;
}



/*Menu Tiles*/



.menu-tiles{

    margin : 5px;   

    left : 5%;

    width: 30%;

    height: 160px !important;

    position: relative;

    float: left;

    /*opacity: 0.8;*/      

}



.menu-tiles:hover{

   /* opacity: 1;*/

}

.menu-container{

    position: absolute;

    top: 33%;

    left: 10%;

    margin-top: -50px;

    margin-left: -50px;

    width: 85%;

    height: auto;

    padding: 20px;

}

.clientmenu-container{

    position: absolute;
    top: 33%;
    left: 20%;
    margin-top: -50px;
    margin-left: -50px;
    width: 83%;
    height: auto;
    padding: 20px;

}

/*LOGIN PAGE*/

.log-form{
   padding: 30px 0px;
}

.forgot-form{
   padding: 10px 0px;
}



.login-container{

    padding: 20px;
    box-shadow: 0px 2px 5px #000;
    border-radius: 1em;
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;

}


/* report PAGE*/



.cont-ship{

    position: absolute;
    top: 20%;
    left: 4%;
    width: 25%;
    height: 20%;
    border: 1px solid #0166bc;
    background-color: rgba(0, 140, 221, 1);
    overflow: auto;
    overflow-x: hidden;
}



.cont-ship h5{

    color: #fff;

    font-size: 20px;

    padding-left:20px; 

}



.cont-div{
    width: 100%;
    /* height: 8%; */
    background-color: #fff;

}



.cont-div h4{

    padding-top: 10px;

    padding-left: 15px;

    display: inline-block;

    vertical-align: middle;
}



.cont-num{

    margin-top: -15px;
    margin-left: 10%;
    text-align: center;
    width: 80%;
    /* height: 8%; */
    background-color: #fff;

}



.cont-num h3{

    padding-top: 15px;

    vertical-align: middle;

}



.cont-inBG{

    position: absolute;

    top: 25%;

    left: 30%;

    width: 67%;

    height: 70%;

    box-shadow: 0px 2px 5px #000;

    opacity: 0.4;

}



.cont-info{

    position: absolute;
    padding-left: 20%;
    top: 17%;
    left: 30%;
    width: 65%;
    height: 6%;
    border: 1px solid #0166bc;
    background-color: rgba(0, 140, 221, 0.6);
    border-radius: 10px;
}

.tools-bar{


    /*height: 6%;*/

        padding: 12px 13px;

    border: 1px solid #0166bc;

    background-color: rgba(0, 140, 221, 0.6);

}

.info-pos{

    top: 40%;

}



.info-posbox{

    position: absolute;
    padding-left: 2%;
    padding-right: 10%;
    top: 46.4%;
    left: 30%;
    width: 65%;
    height: 40.5%;
    border: 1px solid #828383;
    background-color: rgba(220, 220, 220, 0.6);
    overflow: scroll;
    overflow-x: hidden;

}

.cont-info span{

    margin-top: 10px;

    font-size: 20px;

    color: #fff;

}



.cont-infobox{

    position: absolute;
    padding-left: 2%;
    padding-right: 10%;
    top: 23.3%;
    left: 30%;
    width: 65%;
    height: 16%;
    border: 1px solid #828383;
    background-color: rgba(220, 220, 220, 0.6);
}





/*account*/

.account-cont{

    padding: 20px;
    box-shadow: 0px 2px 5px #000;
    margin-bottom: 20px;
    border-radius: 1em;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
 

}



.account-user{

    width: 100%;

    background-color: #fff;

    border: 1px solid #ddd;

}



.upload-pic{

    position: absolute;
    top: 45%;
    left: 45%;
}
.save-pic{

       position: absolute;
    top: 73%;
    left: 48%;

}



/*Client Management*/



.con-info{
    position: absolute;
    padding: 6px 12px;
    top: 27%;
    left: 86%;
    width: 12%;
    height: 5%;
    border: 1px solid #0166bc;
    background-color: rgba(0, 140, 221,1);
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
}



.contain-ship{

    position: absolute;

    top: 20%;

    left: 4%;

    width: 25%;

    height: 75%;

    box-shadow: 0px 2px 5px #fff;

    background-color: #008cdd;

    opacity: 0.8;

}

.con-scroll{
    overflow: auto;
}

.consig-pos{

    top: 21%;

}



.con-info span{

    padding-top: 12px;

    font-size: 14px;

    color: #fff;

}



.con-infotxt label{

    font-size: 14px;

    padding-bottom: 2px;

}



.con-infotxt{

    position: absolute;

    padding-left: 2%;

    padding-right: 8%;

    top: 33.3%;

    left: 70%;

    width: 25%;

    height: 24%;

}



/*.consig-posbox{

    position: absolute;
    padding-top: 2%;
    top: 32.4%;
    left: 81%;
    width: 18%;
    border: 1px solid #828383;
    background-color: rgba(220, 220, 220, 0.59);

}


*/
.con-infobox{

    position: absolute;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 8%;
    top: 32.3%;
    left: 73%;
    width: 25%;
    height: 20%;
    border: 1px solid #828383;
    background-color: rgba(220, 220, 220, 0.6);
    overflow: auto;
    overflow-x: hidden; 
}



.consig-formbox{

    position: absolute;

    padding-left: 2%;

    top: 63.4%;

    left: 70%;

    width: 24%;

}


.con-list{

    position: absolute;
    top: 23%;
    left: 6%;
    width: 89%;
    height: 76%;
    /* background-color: rgba(51, 179, 229, 0); */
    overflow: auto;

}


.con-ship{

    position: absolute;

    top: 34%;

    left: 3%;

    width: 95%;

    height: 540px;

    padding-right: 10px;

    box-shadow: 0px 2px 5px #000;

    background-color: #F5F5F5;

/*    overflow: auto;*/
    
}



.con-ship .table>thead>tr>th,td{

    

    text-align: center;

} 



.con-shiptxt{

    position: absolute;

    top: 27%;

    left: 3%;

    width: 95%;

    padding-top: 0.5%;

    padding-right: 0.8%;
    padding-bottom: 1%;

    background-color: rgba(0, 140, 221, 0.6);

    border: 1px solid #0166BC;

}



.con-shiptxt li>a{

    background-color: rgba(0, 85, 154, 0.98);

    color: #A9A9A9;

}



.con-shiptxt li.hover>a:hover{

    background-color: #fff;

    color:#ddd;

}



.con-shiptxt li.active>a{

    background-color: #fff;

    color:rgba(0, 85, 154, 0.98);

}



.con-shiptxt table{

    position: absolute;

    top: 102%;

    width: 100%;

    height: 100%;

}



.con-shiptxt th,tr{

    margin-left: 10%;

}





.stylish-input-group .form-control{

    border-right:0; 

    box-shadow:0 0 0; 

    border-color:#ccc;

}

.stylish-input-group button{

    border:0;

    background:transparent;

}



/* GLOBAL SEARCH*/



.gl-bar{

    position: absolute;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    top: 24.5%;
    left: 26%;
    width: 71%;
    height: 9%;
    border: 1px solid #0166bc;
    background-color: #008cdd;
    border-radius: 10px;
}

.gl-filter{
    position: absolute;
    color: #fff;
    padding: 10px;
    padding-top: 15%;
    top: 24.3%;
    left: 4%;
    width: 18%;
    height: 73%;
    border: 1px solid #0166BC;
    background-color: rgb(0, 140, 221);
}

.gl-filtitle{
    color: #fff;
    position: absolute;
    text-align: center;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 12%;
    /* border: 1px solid #0579BB; */
    background-color: rgb(72, 188, 255);
}

.gl-bar p>a{

    color: #000;

}





.gl-container{

    position: absolute;
    padding: 10px;
    top: 24.3%;
    left: 26%;
    width: 71%;
     height: 540px;
    border: 1px solid #d4d4d4;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: auto;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

}



/*client report page*/

.clientrep-cont{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    height: 75%;
    border: 1px solid #0166bc;
    background-color: rgba(220, 220, 220, 0.8);
    overflow: auto;
    overflow-x:hidden; 
}

.clientrep-subtitle ul, .clientrep-subtitle li,.clientrep-subtitle a {

    width: 101.2%;

    font-size: 20px;

    color: #000;

    text-align: center;

}



.clientrep-subtitle {

    position: absolute;

    top: 5%;

    width: 100%;

    height: 13%;

}


/*Rotate*/

.card__front,

.card__back {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

}



.card__front,
.card__back {

  -webkit-backface-visibility: hidden;

          backface-visibility: hidden;

  -webkit-transition: -webkit-transform 0.8s;

          transition: transform 0.8s;

}



.card__back {



  -webkit-transform: rotateY(-180deg);

          transform: rotateY(-180deg);

}



.effect__hover:hover .card__front {

  -webkit-transform: rotateY(-180deg);

          transform: rotateY(-180deg);

          

}



.effect__hover:hover .card__back {

  -webkit-transform: rotateY(0);

          transform: rotateY(0);



}



/*JobFile*/



.job-file{

    font-size: 175%;

    float: right;

    margin-top: 55px;

    font-weight: 600;

    margin-right: 15px;

    color: #FFF;

    /*text-shadow:

    3px 3px 0 #000,

   -1px -1px 0 #000,  

    1px -1px 0 #000,

   -1px  1px 0 #000,

    1px  1px 0 #000;*/

}




.img-jobfile{

    margin-top: 30px;

    font-size: 75px;

    color : #FFF;

    /* text-shadow:

    3px 3px 0 #000,

   -1px -1px 0 #000,  

    1px -1px 0 #000,

   -1px  1px 0 #000,

    1px  1px 0 #000;*/

}

 .modal-jobfile{
    overflow: auto;
    height: 570px !important;
}

.btn-jobfile{

    background-color: rgba(46,109,164,0.8);

    border-color: #2e6da4;

}



.btn-jobfile:hover{

    background-color: rgba(46,109,164,1);

}



/*Client Management*/



.client-mngt{

    font-size: 175%;

    float: right;

    margin-top: 35px;

    font-weight: 600;

    /* margin-right: 5px; */

    text-align: right;

    color : #FFF;

}



.btn-clnt-mngt{

    background-color: rgba(92, 184, 92, 0.8);

    border-color: #4cae4c;

}



.btn-clnt-mngt:hover{

    background-color: rgba(92, 184, 92, 1);

}



/*global Search*/



.gbl-srch{

        font-size: 175%;

    float: right;

    margin-top: 35px;

    font-weight: 600;

    margin-right: 25px;

    text-align: right;

    color : #fff;

}



.btn-gbl{

    background-color: rgba(240, 173, 78,0.8);

    border-color: #eea236;



}



.btn-gbl:hover{

    background-color: rgba(240, 173, 78,1);

}





/*Report*/



.btn-report{

    background-color: rgba(104, 0, 61,0.8);

    border-color:rgba(104, 0, 61,1);

}





.btn-report:hover{

    background-color: rgba(104, 0, 61,1);

}



.report{

    font-size: 175%;

    float: right;

    margin-top: 40px;

    font-weight: 600;

    margin-right: 25px;

    text-align: right;

    color : #FFF;

}



/*Dashboard*/



.btn-dashboard{

    background-color: rgba(109, 70, 39,0.8);

    border-color:rgba(109, 70, 39,1);

}





.btn-dashboard:hover{

    background-color: rgba(109, 70, 39,1);

}



.dshbrd{

    font-size: 175%;

    float: right;

    margin-top: 40px;

    font-weight: 600;

    /*margin-right: 15px;*/

    text-align: right;

    color :#FFF;

}





/*Help*/



.btn-help{



    background-color: rgba(56, 47, 66,0.8);

    border-color: rgba(56, 47, 66,1);

}





.btn-help:hover{

    background-color: rgba(56, 47, 66,1);

}



.help{

    font-size: 175%;

    float: right;

    margin-top: 55px;

    font-weight: 600;

    margin-right: 25px;

    text-align: right;

    color :#FFF;

}

/*User*/



.img-user{

    width: 70px;

    height: auto;

    border: 1px solid #ddd;

}



.user-text{

    font-weight:  600;

    font-size: 11px;

}



/*footer*/



.footer{

    top: 65%;

}



.line{

    border: 1px solid #DDD;

}   





/*Home Button*/



.home-btn{

    top: -25px;

   box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);

}



/*table*/



.table-content{

    background-color: #FFF;

}



.container-tab ul>li>a{

    color: #777;

    font-weight: 900;

 
     

}


/*Modal*/



.footer-modal{

    padding: 10px;

    text-align: right;

}





/*table add field*/

.table-editable {

  position: relative;

  

  .glyphicon {

    font-size: 30px !important;

  }

}



.table-remove{

  color: #700;

  cursor: pointer;

  

  &:hover {

    color: #f00;

  }

}



.table-add {

  color: #070;

  cursor: pointer;

  &:hover {

    color: #0b0;

  }

}






/*Register page*/

.reg-form{

   padding: 10px 15px;


}

.con-reg{

    padding: 20px;
    box-shadow: 0px 2px 5px #000;
    border-radius: 1em;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    transform: translate(-50%);
    width: 900px;
    height: auto;


}



.con-regtxt{

    /*position: absolute; */

    /* top: 35%; */

    /* left: 18%; */

    width: 100%;

    /* height: 7%; */

    padding-top: 0.5%;

    padding-right: 0.8%;

    background-color: rgba(0, 168, 236, 0.6);

    border: 1px solid #006cf1;

}



.con-regtxt span{

    margin-left: 5%;

    color: #fff;

    font-size: 24px;



}



.con-regform{

    position: absolute;

    top: 135%;

    left:3%;

    padding-right: 5%;

}



/*help*/

.help-container{

    position: absolute;

    top: 27.3%;

    left: 10%;

    width: 80%;

    height: 65%;

    border: 1px solid #d4d4d4;

    background-color: #fff;

}

/*Dashboard*/

.dash-cont{
    position: absolute;

    top: 24.5%;

    left: 2%;

    width: 21.5%;

    height: 540px;

    border: 1px solid #0166bc;

    background-color: rgba(0, 140, 221, 0.4);
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 20px;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

    margin-bottom: 10px;
    
}



.dash-side{

    position: absolute;
    top: 24.3%;
    left: 25%;
    width: 70%;
     height: 540px;
    border: 1px solid #828383;
    background-color: rgba(255,255,255,1);
    /*overflow: auto;
    overflow-x:hidden;*/

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    margin-bottom: 10px;
}



.dash-title h3 {

    text-align: center;
    font-weight: 600;
    font-size: 30px;
  color: #FFF;
  text-shadow: 3px 3px 0 #000,-1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}





.dash-title {

    /*position: absolute;*/

    top: 7%;

    width: 100%;

    padding: 6px 14px;

    background-color: rgba(220, 220, 220, 0.8);

    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}


/*.dash-subtitle ul, .dash-subtitle li,.dash-subtitle a {

        width: 99.5%;

    font-size: 17px;

    color: #000;*/

    /*text-align: center;*/

/*}*/
 .active{

    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;

}



.dash-subtitle {

    position: absolute;

    top: 19%;

    width: 90%;

    height: 13%;

}

/*legend*/
fieldset {
    font-family: sans-serif;
    border: 1px solid #1F497D;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    margin-top: 12px;
}

fieldset legend {
    background: #1F497D;
    color: #fff;
    width: 237px;
    padding: 1px 15px;
    font-size: 18px;
    border-radius: 5px;
}

/*TABS*/
#tabs {
  overflow: auto;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#tabs li {
    margin: 0;
    padding: 0;
    float: left;
}

#tabs>a {
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: #0166BC;

    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #fff;

    float: left;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 35px;
    padding: 0 30px;
    text-decoration: none;
}

/*#tabs a:hover {
    background: #4D9EE4;

}*/

#tabs a:focus {
    outline: 0;

}

#tabs #current a {
    background: #fff;

    text-shadow: none;    
    color: #333;
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 50%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

.hvr-icon-back {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-left: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-back:before {
  content: "\f137";
  position: absolute;
  left: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-back:hover:before, .hvr-icon-back:focus:before, .hvr-icon-back:active:before {
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px);
}


/* Icon Forward */
.hvr-icon-forward {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward:before {
  content: "\f101";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
  -webkit-transform: translateX(7px);
  transform: translateX(7px);
}

/*table sort*/

.tablesorter-default {
    width: 100%;
    font: 12px/18px Arial, Sans-serif;
    color: #333;
    background-color: #fff;
    border-spacing: 0;
    margin: 10px 0 15px;
    text-align: left
}

.tablesorter-default th,
.tablesorter-default thead td {
    border-collapse: collapse;
    border-bottom: #ccc 2px solid;
    padding: 0
}

.tablesorter-default tfoot td,
.tablesorter-default tfoot th {
    border: 0
}

.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
    padding: 4px 20px 4px 4px
}

.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc,
.tablesorter-default thead .tablesorter-headerSortUp {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    border-bottom: #000 2px solid
}

.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc,
.tablesorter-default thead .tablesorter-headerSortDown {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    border-bottom: #000 2px solid
}

.tablesorter-default thead .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px
}

.tablesorter-default tfoot .tablesorter-headerAsc,
.tablesorter-default tfoot .tablesorter-headerDesc,
.tablesorter-default tfoot .tablesorter-headerSortDown,
.tablesorter-default tfoot .tablesorter-headerSortUp {
    border-top: #000 2px solid
}
/*
.tablesorter-default td {
    background-color: #CCEEFD;
    border-bottom: #ccc 1px solid;
    padding: 4px;
    vertical-align: top
}*/

/*.tablesorter-default tbody>tr.even:hover>td,
.tablesorter-default tbody>tr.hover>td,
.tablesorter-default tbody>tr.odd:hover>td,
.tablesorter-default tbody>tr:hover>td {
    background-color: #ddd;
    color: #000
}*/

.tablesorter-default .tablesorter-processing {
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-image: url(data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=)!important
}

.tablesorter-default tr.odd>td {
    background-color: #fff
}

.tablesorter-default tr.even>td {
    background-color: #CCEEFD
}

.tablesorter-default tr.odd td.primary {
    background-color: #fff
}

.tablesorter-default td.primary,
.tablesorter-default tr.even td.primary,
.tablesorter-default tr.odd td.secondary {
    background-color: #d9d9d9
}

.tablesorter-default td.secondary,
.tablesorter-default tr.even td.secondary,
.tablesorter-default tr.odd td.tertiary {
    background-color: #e6e6e6
}

.tablesorter-default td.tertiary,
.tablesorter-default tr.even td.tertiary {
    background-color: #f2f2f2
}

caption {
    background-color: #fff
}

.tablesorter-default .tablesorter-filter-row {
    background-color: #eee
}

.tablesorter-default .tablesorter-filter-row td {
    background-color: #eee;
    border-bottom: #ccc 1px solid;
    line-height: normal;
    text-align: center;
    -webkit-transition: line-height .1s ease;
    -moz-transition: line-height .1s ease;
    -o-transition: line-height .1s ease;
    transition: line-height .1s ease
}

.tablesorter-default .tablesorter-filter-row .disabled {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: not-allowed
}

.tablesorter-default .tablesorter-filter-row.hideme td {
    padding: 2px;
    margin: 0;
    line-height: 0;
    cursor: pointer
}

.tablesorter-default .tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0)
}

.tablesorter-default input.tablesorter-filter,
.tablesorter-default select.tablesorter-filter {
    width: 95%;
    height: auto;
    margin: 4px auto;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height .1s ease;
    -moz-transition: height .1s ease;
    -o-transition: height .1s ease;
    transition: height .1s ease
}

.tablesorter .filtered {
    display: none
}

.tablesorter .tablesorter-errorRow td {
    text-align: center;
    cursor: pointer;
    background-color: #e6bf99
}